# Ignore heavy and irrelevant stuff
node_modules
dist
tmp
.cache
.git
.gitignore
Dockerfile
docker-compose.yaml
nx-cache
*.log

# Optional: ignore VSCode, OS stuff
.vscode
.DS_Store

# Nx cache folders
nx-cache